<template name="album">
	<div class="row">
		<div class="container">
			<div class="panel panel-primary">
				<div class="panel-heading">Album <button class="btn btn-primary" data-toggle="modal" data-target="#albumModal">Create album</button></div>
				<div class="panel-body">
					{{#each albums}}
						<div class="col-md-3">
							<h4 style="text-transform: capitalize;"><a href="/album/{{_id}}">{{name}}</a></h4>
						</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="albumModal">
	  <div class="modal-dialog">
	  	<form class="save-album" role="form">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title">Create Album</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="alert alert-danger hide" role="alert"></div>
		        <form role="form">
				  <div class="form-group">
				    <label for="name">Name</label>
				    <input type="text" class="form-control" id="name" placeholder="Enter album name">
				  </div>
				</form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary">Save Album</button>
		      </div>
		    </div><!-- /.modal-content -->
	    </form>
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>